.button_container {
  display: flex;
  justify-content: flex-end;
}

.cadastrar {
  margin: 0.5em 1.2em 0 0;
  padding: 0.3em 1.2em;
  border: 2px solid #17c118;
  border-radius: 5px;
  background-color: #17c118;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.cadastrar:hover {
  background-color: transparent;
  color: #17c118;
  transition: all ease 0.5s;
}

.table {
  width: 100%; 
  border-collapse: collapse;
}

.titulos {
  text-align: center;
  background-color: #fff;
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}